@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Dancing Script', cursive;
}

body {
  background-color: #fffdcf;
  margin: 0px;
  padding: 0px;
  font-family: 'Dancing Script', cursive;
  opacity: 1;
  transition: opacity 0.7s ease;
}

body.fade-in {
  opacity: 1;
}

.header {
  background-image: url('Gemini_Generated_Image_5htx665htx665htx-removebg-preview.png'),
    url('Gemini_Generated_Image_5htx665htx665htx-removebg-preview.png'),
    url('Gemini_Generated_Image_5htx665htx665htx-removebg-preview.png'),
    url('Gemini_Generated_Image_5htx665htx665htx-removebg-preview.png'),
    url('Gemini_Generated_Image_5htx665htx665htx-removebg-preview.png'),
    url('Gemini_Generated_Image_zhxsdnzhxsdnzhxs-removebg-preview.png'),
    url('Gemini_Generated_Image_zhxsdnzhxsdnzhxs-removebg-preview.png'),
    url('Gemini_Generated_Image_zhxsdnzhxsdnzhxs-removebg-preview.png'),
    url('Gemini_Generated_Image_zhxsdnzhxsdnzhxs-removebg-preview.png'),
    url('Gemini_Generated_Image_zhxsdnzhxsdnzhxs-removebg-preview.png');
  background-size: 250px;
  background-position: 10px -28px, 600px -30px, 300px 20px, 900px 30px,
    1200px 0px, 300px -10px, 50px 22px, 150px 19px, 500px 10px, 600px -10px;
  background-repeat: no-repeat;
  width: auto;
  height: 60px;
  background-color: #a0522d;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.header-fade-in {
  opacity: 1;
}

.input {
  background-color: #fffdcf;
}

.title {
  color: #fffdcf;
  background-color: transparent;
  font-size: 30px;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  margin-right: 420px;
}

.enter-parish {
  background-color: #fffdcf;
  border: solid;
  border-width: 1px;
  border-radius: 20px;
  padding: 10px;
  width: 150px;
  outline: none;
  margin-right: 20px;
  border-color: #a0522d;
  font-size: 17px;
  color: #a0522d;
  font-weight: bold;
}

.enter-country {
  background-color: #fffdcf;
  border: solid;
  border-width: 1px;
  border-radius: 20px;
  padding: 10px;
  width: 150px;
  outline: none;
  margin-right: 20px;
  border-color: #a0522d;
  font-size: 17px;
  color: #a0522d;
  font-weight: bold;
}

.enter-parish::placeholder {
  color: #a0522d;
  font-weight: bold;
}

.enter-country::placeholder {
  color: #a0522d;
  font-weight: bold;
}

.search-button {
  color: #a0522d;
  background-color: #fffdcf;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 18px;
  width: 90px;
  border-radius: 20px;
  padding: 9px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  border-color: #a0522d;
  margin-right: 20px;
}

.reset-button {
  color: #a0522d;
  background-color: #fffdcf;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 18px;
  width: 120px;
  border-radius: 20px;
  padding: 9px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  border-color: #a0522d;
}

.search-button:hover {
  transition: transform 0.3s ease;
  transform: scale(1.12);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
}

/* Pressed effect */

.search-button:active {
  transition: transform 0.3s ease;
  transform: scale(0.96);
}

.reset-button:hover {
  transition: transform 0.3s ease;
  transform: scale(1.12);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
}

/* Pressed effect */

.reset-button:active {
  transition: transform 0.3s ease;
  transform: scale(0.96);
}

.logo-header {
  width: 70px;
  background-color: transparent;
  margin-right: 10px;
}

.locations-div {
  width: 500px;
  height: 500px;
  background-color: beige;
  margin-left: -100px;
  margin-top: 50px;
  border-radius: 30px;
  box-shadow: 3px 3px 20px #a0522d;
  overflow-y: auto;
  scrollbar-width: none;
}

.location-header {
  width: 500px;
  height: 80px;
  background-color: #a0522d;
  background-image: url('Gemini_Generated_Image_5htx665htx665htx-removebg-preview.png'),
    url('Gemini_Generated_Image_5htx665htx665htx-removebg-preview.png'),
    url('Gemini_Generated_Image_5htx665htx665htx-removebg-preview.png'),
    url('Gemini_Generated_Image_5htx665htx665htx-removebg-preview.png'),
    url('Gemini_Generated_Image_5htx665htx665htx-removebg-preview.png'),
    url('Gemini_Generated_Image_zhxsdnzhxsdnzhxs-removebg-preview.png'),
    url('Gemini_Generated_Image_zhxsdnzhxsdnzhxs-removebg-preview.png'),
    url('Gemini_Generated_Image_zhxsdnzhxsdnzhxs-removebg-preview.png'),
    url('Gemini_Generated_Image_zhxsdnzhxsdnzhxs-removebg-preview.png'),
    url('Gemini_Generated_Image_zhxsdnzhxsdnzhxs-removebg-preview.png');
  background-size: 250px;
  background-position: 10px -18px, 600px -30px, 300px 42px, 900px 30px,
    1200px 0px, 300px -10px, 50px 36px, 150px 40px, 500px 10px, 1px -20px;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  align-content: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: absolute;
}

.left-section-header {
  background-color: transparent;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.right-section-header {
  background-color: transparent;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  margin-left: 600px;
}

.location-countries {
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: 30px;
  opacity: 0;
  margin-left: 20px;
}

.location-names {
  margin-top: 90px;
  color: #be6b44;
  margin-left: 50px;
  opacity: 0;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
}

.hover-names:hover {
  transition: transform 0.3s ease;
  transform: scale(1.12);
}

.links-lo-names {
  text-decoration: none;
  margin-bottom: 10px;
  background-color: transparent;
  width: auto;
}

.body-logo {
  width: 400px;
  height: 400px;
  color: #a0522d;
  background-color: transparent;
  margin-left: 80px;
  opacity: 0;
  align-self: center;
  margin-bottom: 20px;
}

.body-section {
  display: flex;
  justify-content: space-evenly;
  opacity: 0;
}

.fadein-body {
  display: flex;
  justify-content: space-evenly;
  transition: 3s;
  opacity: 1;
}

.fadein-location-country {
  transition: 3s;
  opacity: 1;
}

.fadein-location-names {
  opacity: 1;
  transition: 3s;
}

.logo-fadein {
  opacity: 1;
  transition: 3s;
  transition: transform 2s ease;
  transform: scale(1.12);
  transform: scale(0.96);
}

.logo-fadeout {
  opacity: 0;
  transition: 3s;
}

.logo-div {
  margin-top: 0px;
  background-color: transparent;
  background-image: url('Gemini_Generated_Image_cy1vc7cy1vc7cy1v-removebg-preview.png');
  background-position: center;
  background-repeat: no-repeat;
  width: 600px;
  height: 600px;
  border: none;
  background-size: contain;
  display: flex;
  align-items: center;
  margin-right: -100px;
  opacity: 0;
}

.logoDiv-fadein {
  opacity: 1;
  transition: 3s;
  transition: transform 2s ease;
  transform: scale(1.12);
  transform: scale(0.96);
}

.logoDiv-fadeout {
  opacity: 0;
  transition: 3s;
}

.links-lo-names {
  opacity: 0;
  pointer-events: none;
  /* makes invisible link unclickable */
}

.fade-link {
  opacity: 1;
  pointer-events: auto;
  /* clickable when visible */
  transition: opacity 6s;
}

.hide-body {
  opacity: 0;
}

.insta-body {
  opacity: 1;
}

.insta-names {
  opacity: 1;
}

.insta-country {
  opacity: 1;
}

.insta-link {
  pointer-events: auto;
  /* clickable when visible */
  opacity: 1;
  cursor: pointer;
}
