@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
  background-color: #fffdcf;
  margin: 0px;
  padding: 0px;
  font-family: 'Dancing Script', cursive;
}

body {
  background-color: #fffdcf;
  margin: 0px;
  padding: 0px;
  font-family: 'Dancing Script', cursive;
  opacity: 0;
  transition: opacity 0.7s ease;
}

body.fade-in {
  opacity: 1;
}

.header {
  width: auto;
  height: 60px;
  background-color: #a0522d;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  background-image: url('Gemini_Generated_Image_5htx665htx665htx-removebg-preview.png'),
    url('Gemini_Generated_Image_5htx665htx665htx-removebg-preview.png'),
    url('Gemini_Generated_Image_5htx665htx665htx-removebg-preview.png'),
    url('Gemini_Generated_Image_5htx665htx665htx-removebg-preview.png'),
    url('Gemini_Generated_Image_5htx665htx665htx-removebg-preview.png'),
    url('Gemini_Generated_Image_zhxsdnzhxsdnzhxs-removebg-preview.png'),
    url('Gemini_Generated_Image_zhxsdnzhxsdnzhxs-removebg-preview.png'),
    url('Gemini_Generated_Image_zhxsdnzhxsdnzhxs-removebg-preview.png'),
    url('Gemini_Generated_Image_zhxsdnzhxsdnzhxs-removebg-preview.png'),
    url('Gemini_Generated_Image_zhxsdnzhxsdnzhxs-removebg-preview.png');
  background-size: 250px;
  background-position: 10px -18px, 600px -30px, 300px 42px, 900px 30px,
    1200px 0px, 300px -10px, 50px 36px, 150px 40px, 500px 10px, 1px -20px;
  background-repeat: no-repeat;
}

.title {
  color: white;
  background-color: transparent;
  font-size: 39px;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  margin-left: 50px;
}

.back-button {
  color: #be6b44;

  background-color: #fffdcf;

  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 18px;
  width: 120px;
  border-radius: 20px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  border-color: white;
  margin-left: -20px;
}

.back-button:hover {
  transition: transform 0.3s ease;
  transform: scale(1.12);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
}

/* Pressed effect */
.back-button:active {
  transform: scale(0.96);
}

.logo-header {
  width: 70px;
  background-color: transparent;
  margin-right: 10px;
}

.left-section-header {
  background-color: transparent;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.right-section-header {
  background-color: transparent;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  margin-left: 600px;
}

.contact-number,
.address,
.opening-hours,
.time,
.website-link,
.cafe-Website {
  color: #be6b44;
  background-color: transparent;
  opacity: 1;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}

.contact-title {
  color: #be6b44;
  background-color: transparent;
  opacity: 1;
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
}

.location-address {
  color: #be6b44;
  background-color: transparent;
  opacity: 1;
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
}

.body-logo {
  margin-top: 80px;
  width: 400px;
  height: 400px;
  color: #a0522d;
}

.body-section {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  row-gap: 20px;
  column-gap: 20px;
  opacity: 1;
  padding-left: 45px;
}

.logo-div {
  background-color: transparent;
}

.back-button-link {
  background-color: transparent;
}

.links-lo-names {
  opacity: 1;
  cursor: pointer;
  text-decoration: none;
}

.logo-fadein {
  opacity: 1;
  transition: 3s;
}

.logo-fadeout {
  opacity: 0;
  transition: 3s;
}
